h2 SUBDELIVERABLE: Executive Summary

- var form = sveIkad.find(ista => ista.type === 'primjer').form
include ../form/form.jade

- var form = {action: 'sranje',placeholder: {data: 'Jel ovo radi opet?'}}
include ../form/form.jade
