extends ../ltiLayout.jade
block content
  div.activity-container
    - if(activity) {
        div.activity-container
        h3.activity-title= getActivity(activity.name).title
        p.activity-description= getActivity(activity.name).description
    - }

    - var form = activity ? {action: `/lti/form/update/${activity._id}`, data: activity.data } : {action: `${createLink}`, data: '' }
    include ./form/form.jade
    include editorMethods

  script
    :babel
      document.addEventListener('DOMContentLoaded', () => {
        const form = document.querySelector('.activity-form')
        const resetButton = form.querySelector('.reset-button-wrapper')
        const saveButton = form.querySelector('.save-button-wrapper')

        saveButton.addEventListener('click', () => {
          form.querySelector('input[type="submit"]').click()
        })
        form.addEventListener('submit', onEditorSubmit)
        resetButton.addEventListener('click', resetEditor)
        initializeCKEditor()
      })
