extends ../layout.jade

block content
  div.deliverable-view
    include deliverableNavbar
    div.deliverable-container
      include mainNavbar
      block deliverable
      include editorMethods

  script
    :babel
      document.addEventListener('DOMContentLoaded', () => {
        const navbar = document.querySelector('.deliverable-navbar')
        const deliverableContainer = document.querySelector('.deliverable-container')
        const button = document.querySelector('.toggle-deliverable-navbar-btn')
        const buttonText = button.querySelector('.main-navbar-text')
        const buttonIcon = button.querySelector('.main-navbar-btn-icon')

        button.addEventListener('click', () => {
          const isClosed = navbar.classList.toggle('closed')
          deliverableContainer.classList.toggle('expanded')

          if (isClosed) {
            buttonText.innerHTML = 'Open'
            buttonIcon.classList.remove('fa-long-arrow-left')
            buttonIcon.classList.add('fa-long-arrow-right')
          } else {
            buttonText.innerHTML = 'Close'
            buttonIcon.classList.remove('fa-long-arrow-right')
            buttonIcon.classList.add('fa-long-arrow-left')
          }
        })

        initializeCKEditor()

        const forms = document.querySelectorAll('.activity-form')

        forms.forEach(form => {
          const resetButton = form.querySelector('.reset-button-wrapper')
          const saveButton = form.querySelector('.save-button-wrapper')

          saveButton.addEventListener('click', () => {
            form.querySelector('input[type="submit"]').click()
          })
          form.addEventListener('submit', onEditorSubmit)
          resetButton.addEventListener('click', resetEditor)
        })
      })
