extends ../layout

block content
  div.lti-dashboard
    h1 Deliverables
    div.deliverables-container
        each result in results
          div.deliverable-wrapper
            a(href=`/lti/deliverable/${result}`)
              div.deliverable
                h5.title= getDeliverable(result).title
                p Placeholder text for this paragraph!
            div.activities
              p.title Activities
    h1 Available LTI components
    ul.mdl-list
      li.mdl-list__item
        a(href='/lti/form') Simple Form
      li.mdl-list__item.deliverable
        a(href='/lti/form/deliverable') Simple Form Deliverable
