extends ../layout

block content
  h1 Deliverables
  div#deliverables
    each result in results
      a(href='/lti/form/deliverable').deliverable
        h5= result
  h1 Available LTI components
  ul.mdl-list
    li.mdl-list__item
      a(href='/lti/form') Simple Form
    li.mdl-list__item.deliverable
      a(href='/lti/form/deliverable') Simple Form Deliverable
