div.main-navbar
  div.toggle-deliverable-navbar-btn
    span.main-navbar-text Close
    i.fa.fa-long-arrow-left.main-navbar-btn-icon

  div.main-navbar-items
    a.preview-mode-title(href='') Preview Mode
    i.fa.fa-eye.preview-mode-icon
