div.main-navbar
  div.toggle-deliverable-navbar-btn
    span.main-navbar-text Close
    i.fa.fa-long-arrow-left.main-navbar-btn-icon

  div.main-navbar-items
    span#preview-button.preview-mode-title(href='#')
      i.fa.fa-eye.preview-mode-icon
      = 'Preview Mode'

  div.preview-banner
    i.message You are currently in preview mode.
    span.preview-mode-title
      i.fa.fa-download
      = 'Download'
    span#edit-mode-button.preview-mode-title
      i.fa.fa-edit
      = 'Edit Mode'


  script
    :babel
      const handlePreviewButtonClick = event => {
        document.body.classList.add('preview');

        for (let instanceKey in CKEDITOR.instances) {
          const cke = CKEDITOR.instances[instanceKey];
          cke.setReadOnly(true)
          if(cke.document.getBody().getChild(0).getText().trim() === '') {
            // insert message
            let msg = document.createElement('p');
            msg.className = 'empty-cke-warning';
            msg.innerHTML = 'Enter edit mode to fill in this section...';

            let container = cke.container.getParent().getParent().getParent();
            if(window.location.href.indexOf('businessplan') === -1) {
              // find second previous sibling which is subdeliverable title
              if(!container.hasClass('canvas-cell')) {
                container = container.getPrevious().getPrevious();
                const containerId = container.getId();
                const form = document.querySelector('#' + containerId).nextSibling.nextSibling.querySelector('form');
                form.appendChild(msg);
                form.querySelector('.cke').style.display = 'none';
              }
            }
            else {
              const containerId = container.getId();
              document.querySelector('#' + containerId + ' form').appendChild(msg);
              document.querySelector('#' + containerId + ' .cke').style.display = 'none';
            }
          }
        }

        const navbar = document.querySelector('.deliverable-navbar');
        const deliverableContainer = document.querySelector('.deliverable-container');
        const isClosed = navbar.classList.contains('closed')

        if(!isClosed) {
          navbar.classList.add('closed');
          deliverableContainer.classList.add('expanded')
        }
      }

      const handleEditButtonClick = event => {
        document.body.classList.remove('preview');

        for (let instanceKey in CKEDITOR.instances) {
          const cke = CKEDITOR.instances[instanceKey];
          cke.setReadOnly(false)
          if(cke.document.getBody().getChild(0).getText().trim() === '') {
            let container = cke.container.getParent().getParent().getParent();
            if(window.location.href.indexOf('businessplan') === -1) {
              // find second previous sibling which is subdeliverable title
              if(!container.hasClass('canvas-cell')) {
                container = container.getPrevious().getPrevious();
                const containerId = container.getId();
                const form = document.querySelector('#' + containerId).nextSibling.nextSibling.querySelector('form');
                form.querySelector('p.empty-cke-warning').remove();
                form.querySelector('.cke').style.display = 'initial';
              }
            }
            else {
              const containerId = container.getId();
              document.querySelector('#' + containerId + ' form p.empty-cke-warning').remove();
              document.querySelector('#' + containerId + ' .cke').style.display = 'initial';
            }
          }
        }

        const navbar = document.querySelector('.deliverable-navbar');
        const deliverableContainer = document.querySelector('.deliverable-container');
        const isClosed = navbar.classList.contains('closed')

        if(isClosed) {
          navbar.classList.remove('closed');
          deliverableContainer.classList.remove('expanded')
        }
      }

      document.addEventListener('DOMContentLoaded', () => {
        const previewButton = document.querySelector('#preview-button');
        const editButton = document.querySelector('#edit-mode-button');

        previewButton.addEventListener('click', handlePreviewButtonClick, true);
        editButton.addEventListener('click', handleEditButtonClick, true);
      })
