div.main-navbar
  div.toggle-deliverable-navbar-btn
    span.main-navbar-text Close
    i.fa.fa-long-arrow-left.main-navbar-btn-icon

  div.main-navbar-items
    a.main-navbar-item(href='/', onclick=`javascript:event.target.port=${config.lmsPort}`) TODO: Course Dashboard
    a.main-navbar-item(href='#', onclick=`javascript:event.target.port=${config.studioPort}`).active Workspace
    a.main-navbar-item(href='/lti') Course: Placeholder Course Title
