div.deliverable-wrapper
  a(href=`/lti/deliverables/${key}`)
    div.deliverable
      h5.title= deliverableContentTree[key].title
      p= deliverableContentTree[key].description
  div.activities
    p.title Activities
