extends layout

block content
  div.lti-dashboard
    h1 Tools
    div.deliverables-container
      - for (const key in deliverableContentTree)
          include deliverableCard.jade
    include lti/toolsHandlers


