doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Open+Sans:300,400,500,700')
    link(rel='stylesheet', href='/assets/font-awesome/css/font-awesome.css')
    script(src='/assets/ckeditor/ckeditor.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/lti.css')
    link(rel='stylesheet', href='/stylesheets/deliverable.css')
    link(rel='stylesheet', href='/stylesheets/form.css')

    script
      :babel
        var bugmuncher_options = {
          api_key: "cd9d0312a0c59b558394"
        };
        (function(){
          var e = document.createElement("script");
          e.setAttribute("type", "text/javascript");
          var d = new Date(); var n = '?'+d.getFullYear()+(d.getMonth()+1)+d.getDate()+d.getHours();
          e.setAttribute("src", "//cdn.bugmuncher.com/bugmuncher.js"+n);
          document.getElementsByTagName("head")[0].appendChild(e);
        })()
  body
    block content
