doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Open+Sans:300,400,500,700')
    link(rel='stylesheet', href='/assets/font-awesome/css/font-awesome.css')
    script(src='/assets/ckeditor/ckeditor.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/lti.css')
    link(rel='stylesheet', href='/stylesheets/deliverable.css')
    link(rel='stylesheet', href='/stylesheets/form.css')
    link(rel='stylesheet', href='/stylesheets/responsive.css')

  body
    block content
