.cke.cke_chrome {
  border-top: none;
  border-bottom: none;
}

.cke_top.cke_reset_all {
  border: 1px solid lightgrey;
  border-radius: 3px;
  width: 315px;
}

.form-control-container {
  width: 100%;
  border-top: 3px solid #F76B1C;
}

.form-control-container .save-button-wrapper {
  float: right;
  position: relative;
  height: 26px;
  width: 63px;
  top: -3px;

  transform: skew(-24deg);
  background-color: #F76B1C;
  text-align: center;

  cursor: pointer;
}

.form-control-container .view-in-course-link {
  display: inline-block;
  position: relative;
  top: 6px;

  text-transform: uppercase;
  font-size: 12px;

  cursor: pointer
}

.form-control-container .view-in-course-link,
.form-control-container .view-in-course-link i {
  color: #F76B1C;
}

.form-control-container .view-in-course-link i {
  margin-left: 4px;
}

.form-control-container .save-icon {
  color: white;
  transform: skew(24deg);
  padding-right: 7px;
  position: relative;
  top: 2px;
}

.form-control-container .save-button {
  position: relative;
  top: 2px;
  border: none;
  transform: skew(24deg);

  color: white;
  text-transform: uppercase;
  background-color: transparent;
}

#confirm-modal {
  position: fixed;
  left: 39%;
  height: 400px;
  width: 400px;
  bottom: 18%;
  background: white;
  border-top: 2px solid #F76B1C;
  white-space: pre;
  z-index: 5;
}

#confirm-modal.hidden {
  display: none;
}
