.lti-dashboard {
  margin: 1rem 5rem;
}

.deliverables-container {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.lti-dashboard .deliverable-wrapper {
  margin-right: 3rem;
}

.deliverable-wrapper {
    position: relative;
    width: 27rem;
    height: 20rem;

    margin: 1rem 2rem 1rem 0;
    border: 1px solid #ddd;

    background-color: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.03);
    transition: box-shadow 0.1s ease-in-out;
}

.deliverable-wrapper:hover {
    -webkit-box-shadow: 4px 4px 30px 5px rgba(0,0,0,0.06);
    -moz-box-shadow: 4px 4px 30px 5px rgba(0,0,0,0.06);
    box-shadow: 4px 4px 30px 5px rgba(0,0,0,0.06);
}

.deliverable {
  height: 55%;
  margin-left: 12px;
  margin-right: 12px;
}

.deliverable .short-description {
  color: #757575;
}

.deliverable-wrapper:hover .deliverable {
  cursor: default;
}

.deliverables-container .title {
  display: inline-block;
  margin-left: 12px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  color: #5b5b5b;
}

.deliverables-container p.title {
  cursor: default;
}

.deliverable-wrapper:hover .deliverable .title {
  color: #F76B1C;
}

.deliverable-wrapper .deliverable-icon {
  display: inline-block;
  position: relative;
  top: 1.4px;

  font-size: 23px;
  color: #F76B1C;
}

.deliverables-container .activities {
  display: flex;
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 35%;

  flex-flow: column nowrap;

  background-color: #FBFBFB;
  border-top: 1px solid #ebebeb;
}

.deliverables-container .activities div {
  padding-bottom: 6px;
}

.deliverables-container .activities p,
.deliverables-container .activities .results-container {
  margin-left: 22px;
  font-size: 16px;
}

.deliverables-container .activities p {
  padding-top: 6px;
}

.deliverables-container .activities .results-container {
  margin-bottom: 0;
}

.deliverables-container .activities .fa {
  position: relative;
  top: 6px;

  font-size: 20px;
}

/* Media queries */
@media (max-width: 1366px) {
  .lti-dashboard .deliverable-wrapper {
    margin: 1rem;
  }
}
