@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i');

*, html, body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #b5b5b5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #F76B1C;
}

body {
  font-size: 14px;
}

#content {
  width: 100%;
  margin: auto;
}

.home-page-content {
  margin-left: 20px;
}

.home-page-content a h2:hover {
  color: #949494;
}

header.workspace-navbar {
  display: flex;
  height: 47px;

  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;

  background-color: white;
  border-bottom: 1px solid #ddd;

  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

.workspace-navbar .profile-menu {
  max-width: 40px;
  max-height: 47px;
  border-radius: 10%;
}

.workspace-navbar .profile-menu .image-wrapper {
  height: 89px;
}

.workspace-navbar .profile-menu .user-image-frame {
  max-width: 40px;
  border-radius: 10%;
}

.workspace-navbar .dropdown-menu {
  display: none;
  flex-flow: column nowrap;
  justify-content: center;

  width: 160px;
  height: 103px;

  position: relative;
  left: -102px;
  top: -42px;

  border: 1px solid rgb(200, 200, 200);
  background: white;
  z-index: 3;
}

.workspace-navbar .dropdown-menu.expanded {
  display: flex;
}

 .workspace-navbar .orange-border {
  display: block;
  position: relative;
  background: #f76b1c;
  z-index: 5;
  top: -7px;
  height: 5px;
  width: 40px;
  right: -120px;
}

.workspace-navbar .dropdown-items {
  display: flex;
  flex: 0.9 0 1px;

  flex-flow: column nowrap;
  justify-content: space-around;
  align-content: space-around;

  margin-left: 26px;
  margin-top: -4px;
}

.workspace-navbar .dropdown-items a {
  font-size: 16px;
  font-weight: 400;
  color: #b5b5b5;
  text-transform: capitalize;
}

.workspace-navbar .dropdown-items a:hover {
  color: #3c3c3c;
}

.workspace-navbar .workspace-navbar-item {
  color: #b5b5b5;
}

.workspace-navbar .workspace-navbar-title {
  margin-left: 11px
}

.workspace-navbar .workspace-navbar-title img {
  max-height: 34px;
}

.workspace-navbar .workspace-navbar-item:hover {
  color: #949494;
}

.workspace-navbar .workspace-navbar-items {
  display: flex;
  flex: 0.41 0 1px;
  margin-right: 20px;
  width: 600px;
  justify-content: space-around;
  align-items: center;
}

/* DELIVERABLE PREVIEW MODE */
body.preview #preview-button,
body.preview .toggle-deliverable-navbar-btn,
body.preview .subdeliverable-description,
body.preview .activity-description,
body.preview .form-control-container,
body.preview .deliverable-description,
body.preview .activities-data,
body.preview .cke_top,
body.preview .reset-button-wrapper,
body.preview .save-button-wrapper,
body.preview #ckeditor-toolbar {
  display: none;
}

.preview-banner {
  display: none;
}

body.preview .preview-banner {
  display: block;
  background: #FF9B5C;
  min-width: 100%;
  padding: 1rem;
  margin: -3rem -1rem 0;
}

body.preview .preview-banner .message {
  color: white;
  width: 65%;
  display: inline-block;
  text-align: left;
  margin-left: 5.52%;
  font-weight: bold;
}

body.preview .preview-mode-title a {
  color: white;
}

body.preview .preview-banner span {
  text-transform: uppercase;
  color: white;
  font-family: Roboto;
  margin: 0 1rem;
  font-weight: bold;
}

body.preview .preview-banner span .fa {
  margin-right: .6rem;
  color: white;
}

body.preview .deliverable-container .activity-container {
  margin-left: 6%;
}

body.preview .deliverable-container .activity-container .form {
  margin-left: -0.8%;
}

body.preview .deliverable-container .tip,
body.preview .deliverable-container .tool-features,
body.preview .deliverable-container .activity-description-list,
body.preview .deliverable-container .after-tip-content,
body.preview .deliverable-container .activity-description {
  display: none;
}

.tip {
  display: table;
  position: relative;
  background-image: url('../assets/images/TipBackgroundPattern.jpg');
  border: 1px solid #FF9B5C;
  color: #555;
  min-height: 80px;
}

.tip:before {
  content: "";
  position: absolute;
  display: inline-block;
  height: 40px;
  border: 4px solid #FF9B5C;
  top: calc(50% - 25px);
  left: -4px;
}

.tip .tip-content {
  display: table-cell;
  vertical-align: middle;
  padding: 1.5rem;
}

.tip .highlight {
  display: inline;
  color: #FF9B5C;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
}

.tip.activity {
  width: 86%;
  margin-left: 6%;
  margin-right: 8%;
}

.after-tip-content {
  width: 100%;
  margin-left: 6%;
  margin-top: 11px;
  margin-bottom: 11px;
}

.activity-image {
  width: 100%;
}

form div.cke_chrome {
  border: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
