@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i');

*, html, body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #b5b5b5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #F76B1C;
}

body {
  font-size: 14px;
}

#content {
  width: 100%;
  margin: auto;
}

.home-page-content {
  margin-left: 20px;
}

.home-page-content a h2:hover {
  color: #949494;
}

header.workspace-navbar {
  display: flex;
  height: 47px;

  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;

  background-color: white;
  border-bottom: 1px solid #ddd;

  font-weight: 500;
  text-transform: uppercase;
}

.workspace-navbar .workspace-navbar-title,
.workspace-navbar .workspace-navbar-item {
  color: #b5b5b5;
}

.workspace-navbar .workspace-navbar-item:hover {
  color: #949494;
}

.workspace-navbar .workspace-navbar-items {
  display: flex;
  width: 600px;
  justify-content: space-around;
}

.workspace-navbar .workspace-navbar-title {
  margin-left: 20px
}


/* DELIVERABLE PREVIEW MODE */
body.preview #preview-button,
body.preview .toggle-deliverable-navbar-btn,
body.preview .subdeliverable-description,
body.preview .activity-description,
body.preview .form-control-container,
body.preview .deliverable-description,
body.preview .activities-data,
body.preview .cke_top {
  display: none;
}

.preview-banner {
  display: none;
}

body.preview .preview-banner {
  display: block;
  background: #FF9B5C;
  min-width: 100%;
  padding: 1rem;
  margin: -3rem -1rem 0;
}

body.preview .preview-banner .message {
  color: white;
  width: 65%;
  display: inline-block;
  text-align: left;
  margin-left: 5.52%;
  font-weight: bold;
}

body.preview .preview-banner span {
  text-transform: uppercase;
  color: white;
  font-family: Roboto;
  margin: 0 1rem;
  font-weight: bold;
}

body.preview .preview-banner span .fa {
  margin-right: .6rem;
  color: white;
}
