extends ../deliverableContainer

block variables
  - var deliverable = 'businessplan'
block deliverable
  div.deliverable-info
    i.fa.fa-pie-chart.deliverable-icon
    h1.deliverable-title= getDeliverable('businessplan').title

    p.deliverable-description!= getDeliverable('businessplan').description

    div.activities-data
      h5.activities-data-title Activities:
      p.activities-data-required
        span.solved-activity-count !{solvedActivitiesCount}
        | /
        span.total-activity-count !{activitiesTotalCount}

  include ../subDeliverables/executiveSummary.jade
  include ../subDeliverables/managementAndOrganizationPlan.jade
  include ../subDeliverables/productPlan.jade
  include ../subDeliverables/marketingPlan.jade
  include ../subDeliverables/financialPlan.jade
