h1 Business Plan

p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at dignissim leo. Nullam in lacus vel enim accumsan consectetur sed quis odio. Aliquam euismod est quis magna semper lobortis. Suspendisse pellentesque viverra metus id molestie. Duis convallis ullamcorper bibendum. Sed id imperdiet libero. Vivamus ut libero ultricies odio gravida pharetra eget a neque. In sagittis odio et ex sodales cursus. Morbi tincidunt eget libero at interdum. Sed sodales lorem turpis, quis pharetra leo sagittis sit amet. Phasellus a est sollicitudin, rutrum turpis at, condimentum ligula. Sed varius condimentum felis, non vehicula enim efficitur id. Maecenas sit amet tellus eu ex placerat euismod. In fermentum metus neque, non eleifend nisl porttitor pellentesque. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

div.activity-data
  h3 Activity
  p= activityResults

include ../subDeliverables/executiveSummary.jade
include ../subDeliverables/managementAndOrganizationPlan.jade
include ../subDeliverables/productPlan.jade
include ../subDeliverables/marketingPlan.jade
include ../subDeliverables/financialPlan.jade
