extends ../deliverableContainer

block variables
  - var deliverable = 'financialforecast'
block deliverable
  div.deliverable-info
    i.fa.fa-line-chart.deliverable-icon
    h1.deliverable-title= getDeliverable('financialforecast').title

    p.deliverable-description!= getDeliverable('financialforecast').description

  include ../subDeliverables/financialforecastdefault.jade
