extends ../deliverableContainer

block deliverable
  div.deliverable-info
    i.fa.fa-pie-chart.deliverable-icon
    h1.deliverable-title= getDeliverable('pitchdeck').title

    p= getDeliverable('pitchdeck').description

    div.activities-data
      h5.activities-data-title Activities:
      p.activities-data-required
        span.solved-activity-count !{solvedActivitiesCount}
        | /
        span.total-activity-count !{activitiesTotalCount}

  include ../subDeliverables/pitchdeckdefault.jade
