.form
  form(action=form.action, method='POST', id=`${form.action}-form` class='activity-form')
    textarea(type='editor', name='data', class='editor', id=`canvas-${form.action}`, rows='10', cols='80')= form.data
    input.hidden(type='submit')
