.form
  form(action=form.action, method='POST')
    textarea(type='editor', name='data', class='editor', id=form.action, rows='10', cols='80')= form.data
    div.form-control-container
      div.view-in-course-link
        | View in course
        i.fa.fa-arrow-circle-o-right
      div.save-button-wrapper
        i.fa.fa-floppy-o.save-icon
        input.save-button(type='submit', value='Save')
