extends ../../ltiLayout

block content
  table
    thead
      tr
        td Email
        td Text
    tbody
      each result in results
        tr
          td= result.email
          td= result.data
          td  
              form(action=`/lti/form/update/${result._id}`, method='POST')
                input(type='text', name='text', placeholder=result.data)
                input(type='submit', value='Save')
