extends ../../ltiLayout

block content
  table
    thead
      tr
        td Email
        td Text
    tbody
      each result in results
        tr
          td= result.email
          td= result.data
          td  
              - var form= {action: `/lti/form/update/${result._id}`, placeholder: result.data}
              include form
